# These have been tested
matplotlib == 3.10.3
numpy == 2.2.6
pandas == 2.2.3
pre-commit == 4.2.0
scikit-learn==1.7.0
tk==0.1.0
# optionally do this with cuda
torch == 2.7.1
torchaudio==2.7.1
torchvision==0.22.1
